# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Project artifacts
data/
artifacts/
checkpoints/
logs/
wandb/
runs/
outputs/

# OS / editor
.DS_Store
.vscode/
